<div class="comment__item">
  <div class="comment__info">
    <div class="comment__name">
      <%= comment.name %>
    </div>
    <div class="comment__time">
      <%= comment.created_at.to_s(:datetime_jp) %>
      <%= link_to "削除", comment, method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-outline-danger" %>
    </div>
  </div>
  <%= simple_format(comment.comment) %>
</div>