<% if user_signed_in? %>
  <% unless @user.id == current_user.id %>
    <% if @is_room == true %>
      <%= link_to room_path(@room_id) do %>
        <button id="m_submit" class="send__message__button btn btn-warning"><i class="far fa-paper-plane"></i>メッセージ</button>
      <% end %>
    <% else %>
      <%= form_for @room, url: rooms_path do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <button type="submit" id="m_submit" class="btn btn-warning"><i class="fas fa-envelope"></i>メッセージ</button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
