/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
html, body, h1, h2, h3, h4, h5, h6, p, tbody, tr, th, td, a, img {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #565656;
}
img {
  width: 100%;
  height: auto;
}

// header
.notification {
  background-color: silver;
  height: 50px;
  text-align: center;
  .notice {
    color: blue;
    line-height: 50px;
  }
  .alert {
    color: red;
  }
}
.header {
  background-color: skyblue;
  height: 80px;
  &__right {
    color: red;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0;
  }
  &__logo {
    color: black;
  }
}

// sign_up, login
.has-icons-left {
  position: relative;
  .input {
    width: 50%;
    padding-left: 30px;
  }
  .is-left {
    position: absolute;
    top: 3px;
    left: 10px;
    color: gray;
  }
}

// users
.users__list {
  display: flex;
  margin: 50px 0 0 0 ;
}
.users__item {
  width: 33%;
  margin: 0 10px 30px;
  box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;
}
.users__image {
  display: block;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
}
.users__name {
  display: block;
  text-align: center;
  font-size: 20px;
}

.user__detail {
  width: 50%;
  margin: 0 auto;
}