/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); //google fonts
@import "bootstrap";
@import "device";
@import "home";
@import "users";
@import "circles";
@import "blogs";
@import "comments";
@import "rooms";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #565656;
}

html, body, h1, h2, h3, h4, h5, h6, p, table, tbody, tr, th, td, a, img {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #565656;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: 1s;
  }
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}
ul, ol, li {
  text-decoration: none;
  list-style-type: none;
}

// header
.header {
  background-color: #7DC8B6;
  height: 80px;
  margin-bottom: 100px;
  &__right {
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0;
  }
  &__logo {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: "Rounded Mplus 1c";
  }
}
  .header__right {
    display: flex;
    justify-content: space-between;
  }
.search__circle, .make__circle, .header__logout, .header__mypage, .header__signup, .header__login {
  text-align: right;
  margin: 0 30px;
}

// footer
.footer {
  margin-top: 100px;
  background-color: #E1E3E4;
  text-align: center;
  height: 50px;
  .copyright {
    line-height: 50px;
  }
}
