@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); //google fonts
@import "bootstrap";
@import "device";
@import "home";
@import "users";
@import "circles";
@import "blogs";
@import "comments";
@import "rooms";
@import "notifications";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #565656;
  margin: 0 auto;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
tbody,
tr,
th,
td,
a,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #565656;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: .5s;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

ul,
ol,
li {
  text-decoration: none;
  list-style-type: none;
}

// header
.header {
  background-color: #7DC8B6;
  height: 80px;
  margin-bottom: 100px;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0;
  }
  &__logo {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: "Rounded Mplus 1c";
  }
  .header__right {
    display: flex;
    justify-content: space-between;
    .search__circle,
    .make__circle,
    .header__logout,
    .header__mypage,
    .header__signup,
    .header__login {
      text-align: right;
      margin: 0 30px;
    }
  } // ハンバーガー
  .hamberger-button {
    cursor: pointer;
    display: none;
    height: 28px;
    position: fixed;
    right: 40px;
    top: 30px;
    transform: translateX(0);
    transition: all .5s;
    width: 36px;
    z-index: 9999;
    span {
      background-color: #141414;
      display: inline-block;
      height: 4px;
      left: 0;
      position: absolute;
      transition: all .5s;
      width: 100%;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 12px;
        transition: all .5s;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  } // ボタンの動き
  .active {
    transition: all .5s;
    span {
      background-color: #141414;
      transition: all .5s;
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-135deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
        transform: translateX(30px);
      }
      &:nth-of-type(3) {
        transform: translateY(-12px) rotate(135deg);
      }
    }
  }

  .hamberger-menu {
    background-color: gray;
    display: none;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-300px);
    transition: all .5s;
    z-index: 10;
    ul {
      padding: 0px;
    }
    li {
      text-align: center;
    }
  } // メニューの開閉
  .hamberger-menu-open {
    transform: translateY(0px);
  }

  .overlay {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    height: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .5s;
    width: 0;
    z-index: 2;
  } // オーバーレイの開閉
  .overlay-open {
    height: 100%;
    opacity: 1;
    width: 100%;
  }
}

// footer
.footer {
  margin-top: 100px;
  background-color: #E1E3E4;
  text-align: center;
  height: 50px;
  .copyright {
    line-height: 50px;
  }
}

// snsシェアボタン
.share__button {
  margin: 30px 0;
  .share__button__text {
    font-size: 1.4rem;
    color: gray;
  }
  .fa-fw {
    border-radius: 50%;
    font-size: 2.5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    margin: 0 10px;
  }
  .twitter,
  .facebook {
    transition: all .3s;
    &:hover {
      border-radius: 50%;
      color: #fff;
      transition: all .5s;
    }
  }
  .twitter {
    color: #0095d9;
    &:hover {
      background-color: #0095d9;
    }
  }
  .facebook {
    color: #4c6cb3;
    &:hover {
      background-color: #4c6cb3;
    }
  }
  .line-it-button {
    vertical-align: bottom;
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  // header
  .header {
    margin-bottom: 50px;
    &__nav {
      display: block;
    }
    .header__right {
      display: none;
    }
    .hamberger-button {
      display: inline-block;
    }
    .hamberger-menu {
      display: block;
    }
    .hamberger-menu a {
      color: #ccc;
      display: block;
      margin: 20px auto;
      width: 100%;
    }
    .hamberger-menu a:hover {
      background-color: #fff;
      color: gray;
      transition: all 0.5s;
    }
    .hamberger-menu-right {
      font-size: 2rem;
      right: 3%;
    }
    top: -8%;
    .hamberger-menu-left {
      font-size: 2rem;
      left: 3%;
    }
    top: -6%;
    .hamberger-menu-left-rec {
      top: 10%;
    }
  }
  .btn-primary,
  .btn-outline-danger,
  .btn-outline-primary {
    display: block;
    margin: 20px auto;
    width: 80%;
  }
  .share__button {
    text-align: center;
  }
}

