// sign_up, login
$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.title {
  font-size: 30px;
  margin: 100px 0 0 0;
  text-shadow: 1px 1px 0 $color-white;
  width: 100%;
  text-align: center;
  color: #707070;
}
.sign_up, .login {
  width: 60%;
  margin: 50px auto 100px;
}
.button, .input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
  width: 100%;
}
.button {
  margin: 50px 0;
}
.neumorphism__concave {
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}
.neumorphism__convex {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 10px $color-white,  5px 5px 10px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}
.red {
  color:$color-red;
}
.has-icons-left {
  position: relative;
  .input {
    width: 100%;
    padding-left: 50px;
  }
  .is-left {
    position: absolute;
    top: 15px;
    left: 15px;
    color: gray;
  }
}