.home {
  background-image: url("../../assets/paper-3213924__480.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    content: "";
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.top__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #ccc;
  display: block;
  font-size: 2.4rem;
  text-align: center;
  span {
    margin: 50px 0;
    display: block;
    line-height: 3rem;
    letter-spacing: 0.4rem;
  }
}

.home__top__space {
  margin: 1000px 0;
}

.blog__ranking {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 480px) {
  .top__text {
    font-size: 18px;
    span {
      letter-spacing: 0.09rem;
    }
  }
  .home__top__space {
    margin: 900px 0px;
  }
}