// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications {
  .notidication__user__image {
    width: 30px;
    height: auto;
    display: inline-block;
    cursor: default;
  }
  .notifications__time {
    color: gray;
    position: absolute;
    transform: translate(0, 20%);
    left: 1100px;
  }
}

@media screen and (max-width: 480px) {
  .notifications {
    .notifications__time {
      position: static;
    }
  }
}