// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to__user__box {
  position: sticky;
  top: 10%;
  left: 50%;
  transform: translate(-20%, -70%);
  display: flex;
}
.to__user__image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.to__user__name {
  color: gray;
  font-size: 16px;
  line-height: 55px;
  margin: 0 0 0 20px;
  a {
    position: relative;
    display: inline-block;
    transition: .3s;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 0;
      height: 2px;
      background-color: #31aae2;
      transition: .3s;
      transform: translateX(-50%);
    }
    &:hover::after{
    width: 100%;
    }
  }
}
.room__user__box {
  margin: 0 0 30px 0;
}
.room__user__name {
  color: gray;
  font-size: 16px;
}
.room__user__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.room__user__content {
  font-size: 16px;
  color: #565656;
  margin: 25px 30px 0;
}

.room__user__time {
  color: silver;
  font-size: 14px;
}

.submit__message {
  margin: 0 0 100px 0;
}

.message__info {
  color: gray;
  font-size: 14px;
}

// メッセージ一覧画面
// .index__message__name {
//   margin: 0 0 0 20px;
// }
// .index__message__time {
//   vertical-align: bottom;
//   color: gray;
// }
// .index__message__trash {
//   color: gray;
//   &:hover {
//     color: black;
//   }
// }

.index__message {
  display: flex;
  border: 1px solid silver;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  &__name {
    color: gray;
    &:hover {
      color: blue;
    }
  }
  &__time {
    color: silver;
  }
  &__button {
    color: gray;
    &:hover {
      color: black;
    }
  }
}